/* 
COLORS:
#ebebeb - white (img)
#b94d26 - red orange

NEW COLORS(bright)?
#e5e302 - yellow
#1a4baa - blue
#f44d00 - orange

NAV COLORS:
#656565 - main nav black
#353535 - link icons black
*/

@font-face {
	font-family: 'HelveticaNowDisplayLight';
	src: url("../fonts/HelveticaNowDisplay-Light.otf");
}
@font-face {
	font-family: 'HelveticaNowDisplayBold';
	src: url("../fonts/HelveticaNowDisplay-Bold.otf");
}
@font-face {
	font-family: 'TheSkinny';
	src: url("../fonts/TheSkinny.otf");
}
@font-face {
	font-family: 'TheSkinnybold';
	src: url("../fonts/TheSkinny-bold.otf");
}


* {
	font-family: 'Roboto Condensed', sans-serif;
	color: #404040;
	padding: 0px;
	margin: 0px;
}

body {
	padding: 30px 0px;
	background-color: whitesmoke;
}




/* start header */
#header-img,
#header-name,
#header-nav {
	/*border: 1.5px solid black;*/
}

.doodle {
	width: 200px;
	height: auto;
	position: relative;
	top: 30px;
	left: 150px;
}

#lance {
	font-family: 'TheSkinnybold';
	/*color: #0b595a;*/
	/*color: #e5e302;*/
}

#malaga {
	font-family: 'TheSkinnybold';
	/*position: relative;*/
	/*right: 30px;*/
}

.name {
	margin: 15px 0px 0px;
	text-align: left;
	font-size: 120px;
	letter-spacing: 5px;
}

.title1 {
	font-size: 20px;
	font-weight: bolder;
	padding: 5px 0px 0px 110px;
	margin: 0px;
	letter-spacing: 2px;
	color: #f2c40f;
}

.title2_3 {
	font-size: 20px;
	font-weight: bolder;
	padding: 5px 0px 0px 110px;
	margin: 0px;
	letter-spacing: 2px;
}
.designer2 {
	color: #1a4baa;
}

.title-line {
	font-size: 25px;
	font-weight: bolder;
	color: #656565;
}
/* end header part 1*/




/*start nav*/
#header-nav {
	margin: 70px 0px 80px 0px;
}

#menu {
	margin-bottom: 15px;
	justify-content: center;
}

.nav-link {
	padding: 10px 30px;
	font-size: 15px;
	color: #656565;
	border-bottom: 4px solid #d3d3d3;
	transition: border-bottom .7s;
}

.web-tag:hover {
	color: #656565;
	border-bottom: 4px solid #f2c40f;
}
.design-tag:hover {
	color: #656565;
	border-bottom: 4px solid #1a4baa;
	
}
.about-tag:hover {
	color: #656565;
	border-bottom: 4px solid #f44d00;
	
}
.contact-tag:hover {
	color: #656565;
	border-bottom: 4px solid #4d7a59;
	
}

.nav-link-active1 {
	color: #656565;
	font-weight: bolder;
	border-bottom: 4px solid #f2c40f;
}
.nav-link-active2 {
	color: #656565;
	font-weight: bolder;
	border-bottom: 4px solid #1a4baa;
}
.nav-link-active3 {
	color: #656565;
	font-weight: bolder;
	border-bottom: 4px solid #f44d00;
}

.nav-link-active4 {
	color: #656565;
	font-weight: bolder;
	border-bottom: 4px solid #4d7a59;
}

.nav-link-active1:hover,
.nav-link-active2:hover,
.nav-link-active3:hover,
.nav-link-active4:hover {
	text-decoration: none;
	color: #656565;
}

/* end nav */




/* start social */
.social a {
	text-decoration: none;
	margin: 0px 30px;
}

.social-link1 i,
.social-link2 i,
.social-link3 i,
.social-link4 i {
	color: #656565;
	opacity: .7;
	font-size: 13px;
	transition-duration: .4s;
}

.social-link1 i:hover {
	text-decoration: none;
	color: #e5e302;
	opacity: 1;
}

.social-link2 i:hover {
	text-decoration: none;
	color: #1a4baa;
	opacity: 1;
}

.social-link3 i:hover {
	text-decoration: none;
	color: #f44d00;
	opacity: 1;
}

.social-link4 i:hover {
	text-decoration: none;
	color: #4d7a59;
	opacity: 1;
}
/* end social */
/* end header */







.ex-boxes,
.ex-boxes3 {
	/*border: 1.5px solid black;*/
	padding: 0px 6px;
	margin: 15px 0px 0px;
}

.ex-boxes2,
.ex-boxes4 {
	/*border: 1.5px solid black;*/
	padding: 0px 6px;
	margin: 15px 0px 0px;
}

.ex-boxes .content-overlay,
.ex-boxes2 .content-overlay {
	/*background: linear-gradient(to top, rgba(245,245,245,.7), rgba(245,245,245,0));*/
	background: rgba(245,245,245,.3);
	position: absolute;
	margin: 0px 6px;
	height: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out 0s;
	object-fit: cover;
}

.ex-boxes:hover .content-overlay,
.ex-boxes2:hover .content-overlay {
	opacity: 1;
}

.img-set img {
	background-color: #ebebeb;
	height: auto;
	width: 100%;
	object-fit: cover;
}

.details {
	padding: 15px 25px 15px;
	position: absolute;
	bottom: -10%;
	left: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out 0s;
}

.ex-boxes:hover .details,
.ex-boxes2:hover .details {
	bottom: 0;
	left: 0;
	opacity: 1;
}

.proj-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 40px;
	padding: 0;
}

.info {
	font-size: 18px;
	font-weight: bolder;
	padding: 0;
	margin-bottom: 0px;
}
/* end web portfolio */




button {
	border: none;
}

button .imageDesign {
	height: auto;
	width: 100%;
	object-fit: cover;
}

button .content-overlay {
	background: rgba(0,0,0,.2);
	position: absolute;
	margin: 0px 6px;
	height: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out 0s;
	object-fit: cover;
}

button:hover .content-overlay {
	opacity: 1;
	cursor: zoom-in;
}



.modal-content {
	border: 3px solid #202020;
	border-radius: 0px;
}

.modal-header {
	background-color: whitesmoke;
	border-bottom: 3px solid #202020;
	padding: 10px 8px;
}

.modal-body {
	background-color: whitesmoke;
	border: none;
	padding: 25px 25px 100px;
}

.imageModal {
	background-color: #ebebeb;
	border: 3px solid #202020;
	height: auto;
	width: 100%;
	object-fit: cover;
}
/* end design portfolio */





.archi-boxes {
	padding: 0px 6px;
}

.archiSection {
	/*font-family: 'HelveticaNowDisplayBold';*/
	font-size: 20px;
	margin-top: 50px;
}

.hrArchi {
	border: none;
	background-color: #1a4baa;
	height: 3px;
	width: 150px;
	margin: 0px 0px 20px;
}

.archiPage {
	padding: 5px 5px;
}

.archiModal{
	border: 3px solid #202020;
	height: auto;
	width: 100%;
	object-fit: cover;
}
/* end design portfolio*/
/* end section prtfolio */







.profile {
	height: auto;
	width: 100%;
	/*position: relative;
	top: 30px;
	left: 150px;*/
}

.hello {
	font-family: 'HelveticaNowDisplayBold';
	font-size: 70px;
	margin-top: 20px;
	/*color: #0b595a;*/
}

.hrHello {
	border: none ;
	background-color: #f44d00;
	height: 5px;
	width: 150px;
	margin: 0px 0px 20px;
}

.about-text {
	font-size: 18px;
	text-align: justify;
}
/* end section about */







form label {
	font-style: italic;
}

.form-control {
	/*background-color: transparent;*/
	border-radius: 0;
	/*border: 1.5px solid #232323;*/
	height: 60px;
	/*color: #232323;*/
	font-style: italic;
	font-weight: bolder;
}

.btnSubmit {
	font-family: 'HelveticaNowDisplayBold';
	background-color: whitesmoke;
	font-size: 20px;

	width: 100%;
	margin-top: 20px;
	padding: 20px;
	border-radius: 15px;
	border: 2px solid #404040;
	transition: background-color .4s;
}

.btnSubmit:hover {
	color: whitesmoke;
	border: 2px solid #4d7a59;
	background-color: #4d7a59;
}
/* end section contact */



#section-footer {
	border-top: 4px solid #d3d3d3;
	font-size: 14px;
	margin-top: 100px;
	padding: 50px 0px;
}
/* end section footer */











/* phone */
@media only screen and (max-width: 420px) {
	.doodle {
		width: 130px;
		height: auto;
		position: relative;
		top: 10px;
		left: 105px;
		/*padding-bottom: 20px;*/
	}

	.name {
		margin: 15px 0px 0px;
		text-align: left;
		font-size: 40px;
		letter-spacing: 3px;
	}

	.title1 {
		font-size: 14px;
		padding: 5px 0px 0px;
		text-align: center;
	}

	.title2_3 {
		font-size: 14px;
		padding: 5px 0px 0px;
		text-align: center;
	}

	.title-line {
		font-size: 16px;
	}
	/* end title */


	#header-nav {
		margin: 70px 0px 40px 0px;
	}

	#menu {
		margin-bottom: 15px;
		justify-content: center;
	}

	.nav-link {
		padding: 10px 15px;
		font-size: 15px;
	}
	/* end av*/

	.social a {
		text-decoration: none;
		margin: 0px 15px;
	}
	/* end social */

	.ex-boxes,
	.ex-boxes3 {
		margin-bottom: 8px;
	}

	.ex-boxes2,
	.ex-boxes4 {
		margin: 0px;
		margin-bottom: 8px;
	}

	.details {
		display: none;
	}

	.ex-boxes:hover .details,
	.ex-boxes2:hover .details {
		opacity: 0;
	}

	.archi-boxes {
		margin-bottom: 8px;
	}
	/* end pics */

	.profile {
		height: auto;
		width: 100%;
	}

	.hello {
		font-size: 55px;
		margin-top: 30px;
		margin-bottom: 0px;
		padding: 0px 10px;
	}

	.hrHello {
		border: none ;
		background-color: #f44d00;
		height: 4px;
		width: 150px;
		margin: 0px 0px 20px 10px;
	}

	.about-text {
		font-size: 16px;
		text-align: justify;
		padding: 0px 10px;
	}
	/* end about me */

	#section-footer {
		border-top: 3px solid #d3d3d3;
		font-size: 14px;
		margin-top: 70px;
		padding: 30px 30px;
	}
	/* end footer */


}

/* tablet 1 */
@media only screen and (min-width: 765px) and (max-width: 995px) {
	.doodle {
		width: 170px;
		height: auto;
		position: relative;
		top: 25px;
		left: 0px;
	}

	.name {
		margin: 15px 0px 0px;
		text-align: left;
		font-size: 95px;
		letter-spacing: 5px;
	}

	.title1 {
		font-size: 15px;
		padding: 5px 0px 0px 9px;
	}

	.title2_3 {
		font-size: 15px;
		padding: 5px 0px 0px 9px;
	}

	.title-line {
		font-size: 20px;
	}
}

/* tablet 2 */
@media only screen and (min-width: 996px) and (max-width: 1200px) {

	.doodle {
		width: 190px;
		height: auto;
		position: relative;
		top: 25px;
		left: 100px;
	}

	.name {
		margin: 15px 0px 0px;
		text-align: left;
		font-size: 100px;
		letter-spacing: 5px;
	}

	.title1 {
		font-size: 17px;
		padding: 5px 0px 0px 80px;
	}

	.title2_3 {
		font-size: 17px;
		padding: 5px 0px 0px 80px;
	}

	.title-line {
		font-size: 20px;
	}

}




